language: python

matrix:
  include:
    - os: linux
      sudo: required
      python: 3.4
    - os: linux
      sudo: required
      python: 3.5
    - os: linux
      sudo: required
      python: 3.6
    - os: osx
      language: generic
      env: TOXENV=py34
    - os: osx
      language: generic
      env: TOXENV=py35

before_install:
  - ./scripts/before_install.sh

install:
  - source ./scripts/install.sh
  - pip install tox tox-travis coveralls
script: tox
after_success: coveralls
